<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="pushnotify" frontName="pushnotify">
            <module name="Smyapp_Pushnotification" />
        </route>
         <route id="ajax" frontName="ajax">
            <module name="Smyapp_Pushnotification" />
        </route>
    </router>
</config>
